Binaries/
Installer/
AudioFiles/
Expansions/
Presets/
Samples/
PooledResources/
Packaging/
Compiled/
*build
*dev
*.hxi
*.hxp
*.hr*
*.ch*
.DS_Store
expansion_info.xml
current_tasks.js
finished_tasks.js
repo_settings.js